@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    border-right: rgba(122, 191, 191,.5) solid 40px;
    border-left: rgba(122, 191, 191,.5) solid 40px;
    border-bottom: rgba(122, 191, 191,.5) solid 20px;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}
h1 {
    font-size: 40px;
    font-family: "Bebas Neue", serif;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-family: "Bebas Neue", serif;
    text-align: center;
}
h3 {
    font-size: 25px;
    font-family: "Bebas Neue", serif;
    text-align: center;
}
input {
    font-size: 16px;
    font-family: "Montserrat", serif;
}
nav {
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
    height: 98px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Bebas Neue", serif;
    color: #000000;
    text-align: center;
    font-weight: 600;
    }
.avatar {
    display: flex;
    position: relative;
    background-color: #EB5428;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    height: 99px;
}
.main {
    display: none;
}
.search {
    display: flex;
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.search input {
    display: flex;
    justify-content: center;
    border: #EB5428 solid 2px;
     height: 40px;
     width: 250px;
    }
.search a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 60px;
}
.caption, article {
    font-size: 16px;
    font-family: "Montserrat", serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-bottom: 10px;
}
.caption a , article a {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
    text-decoration: none;
    color: #EB5428;
    text-align: center;
    font-weight: 600;
    
}
.caption {
    margin-top: -50px;
}
article a {
    margin-top: 80px;
}
nav span {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
}
[title="tacos"] {
    width: 100%;
}
.prep {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Montserrat", serif;
    padding-left: 10px;
    margin-bottom: -25px;
}
p {
    font-size: 16px;
    font-family: "Montserrat", serif;
}
.dishes {
    background-color: #7ABFBF;
}
section figure {
    display: flex;
    height: 200px;
    padding-top: 10px;
    margin-bottom: -60px;
}
section figure img {  
    display: flex;
    width: 130px;
    height: 130px;
    margin-left: -25px;
    margin-top: 15px;
}
.details h3 {
    text-align: left;
    margin-top: -10px;
}
.dish {
    margin-bottom: -15px;
}
.details {
    flex: 1; 
    text-align: left;
    margin-top: 25px;
    padding-left: 10px;
}
.stars {
    margin-right: 5px;
    margin-top: -20px;
}
.DD {
    font-size: 16px;
    font-family: "Montserrat", serif;
}
.DT {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-right: 10px;
}
li {
    font-size: 16px;
    font-family: "Montserrat", serif;
    padding-bottom: 10px;
}
menu li {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
}
#social li {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
}
footer , footer p {
    display: grid;
    font-size: 20px;
    font-family: "Bebas Neue", serif;
    text-align: center;
    place-items: center;
    font-weight: 500;
    margin-bottom: -3px;
}
footer img {
    height: auto;
    width: 200px;
    padding: 20px;
}

@media screen and (min-width:768px){
    .menu {
        display: none;
    }
    .main-nav img {
        display: grid;
        position: relative;
        grid-template-columns: repeat(7, 1fr);
        width: 73px;
    }
    .main-nav a {
        display: grid;
        position: absolute;
        top: 130px;
        margin-right: 55px;
        color: #EB5428;
    }
    .main-nav li {
        width: 100%;
    }
    nav {
        height: 250px;
    }
    nav .avatar{
        position: absolute;
        left: -20px;
        top: 0px;
        width: 90px;
    }
    nav .sign {
        position: absolute;
        right: 23px;
        top: 12px;
    }
    .search {
        position:relative; 
        bottom: 170px;
        margin-top: -100px;
        left: 15%;
    }
    .caption {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: -110px;
        width: 100%;
        height: 100px;
        gap: 40px;
        background-color: rgba(242,242,242, 0.6);
    }
    .caption a {
        position: relative;
        display: grid;
        justify-content: center;
        bottom: 55px;
    }
    .street-tacos {
        position: absolute;
        left: 60px;
        top: 250px;
    }
    .prep {
        justify-content: center;
    }

}
