@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    border-right: rgba(122, 191, 191,.5) solid 40px;
    border-left: rgba(122, 191, 191,.5) solid 40px;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}
h1 {
    font-size: 40px;
    font-family: "Bebas Neue", serif;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-family: "Bebas Neue", serif;
    text-align: center;
}
h3 {
    font-size: 25px;
    font-family: "Bebas Neue", serif;
    text-align: center;
}
input {
    font-size: 16px;
    font-family: "Montserrat", serif;
}
nav , article {
    font-size: 16px;
    font-family: "Montserrat", serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
nav a , article a {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
    text-decoration: none;
    color: #EB5428;
    text-align: center;
    font-weight: 600;
}
nav span {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
}
[title="tacos"] {
    width: 100%;
}
p {
    font-size: 16px;
    font-family: "Montserrat", serif;
}
section {
    background-color: #7ABFBF;
}
section img {
    height: auto;
    width: 100px;
    justify-content: center;
}
.DD {
    font-size: 16px;
    font-family: "Montserrat", serif;
}
.DT {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
li {
    font-size: 16px;
    font-family: "Montserrat", serif;
    padding-bottom: 10px;
}
menu li {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
}
#social li {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
}
footer {
    display: grid;
    font-size: 20px;
    font-family: "Bebas Neue", serif;
    text-align: center;
    place-items: center;
}
footer img {
    height: auto;
    width: 200px;
    padding: 20px;
}